{% extends "base.html" %}
{% set active_page = "edit_record" %}

{% block content %}

<div class="container-fluid" style="padding-bottom: 15px; padding-top: 10px;">
    <a class="btn btn-warning mt-2"  href="{{ url_for('my_records_detail',_anchor=id) }}">Back</a>
</div>

<div class="container-fluid">

    <h4 class="mb-3 text-secondary">Edit Record #{{ id }} {{ row[1] }}</h4>

    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% for field in form if (field.name != 'csrf_token') and (field.name != 'submit') %}
            <div class="form row">
                <div class="col"><label class="form-label"> {{ field.label() }} </label></div>
                <div class="col"> {{ field(class="form-control") }} </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm">{{ form.submit(class="btn btn-primary") }}</div>
        </div>

    </form>

</div>

<div class="container-fluid" style="padding-bottom: 15px; padding-top: 10px;">
    <a class="btn btn-danger mt-2" data-toggle="modal" data-target="#delete">Delete Record</a>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Deleting a record cannot be undone!</p>
          <p>Are you sure you want to continue?</p>
          <a class="btn btn-danger mt-2" href="{{ url_for('delete_record',id=id) }}">Confirm Delete Record</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}