{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

<table class="table table-borderless">
	<thead>
		<th style="width:30%">Need a recommendation? Push one of the buttons below!</th>
		<th style="width:25%">Artist</th>
		<th style="width:25%">Album</th>
		<th style="width:10%">Listen?</th>
	</thead>
	<tbody>
		<tr>
			<td><a class="btn btn-success mt-2" href="{{ url_for('most_popular') }}">Popular</a></td>
			<td>{{ mprows[0][0] }}</td>
			<td>{{ mprows[0][1] }}</td>
		</tr>
		<tr>
			<td><a class="btn btn-primary mt-2" href="{{ url_for('un_played') }}">Un-played</a></td>
			<td>{{ uprows[0][0] }}</td>
			<td>{{ uprows[0][1] }}</td>
		</tr>
		<tr>
			<td><a class="btn btn-warning mt-2">Genre</a></td>
			<td>{{ grows[0][0] }}</td>
			<td>{{ grows[0][1] }}</td>
		</tr>
	</tbody>
</table>

<div class="container-fluid">

    <h4 class="mb-3 text-secondary">Select genre</h4>

    <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% for field in form if (field.name != 'csrf_token') and (field.name != 'submit') %}
            <div class="form row" style="width: 25%">
                <div class="col"> {{ field(class="form-control") }} </div>
            </div>
        {% endfor %}

        <br>
        <div class="row">
            <div class="col-sm">{{ form.submit(class="btn btn-primary", value="Submit") }}</div>
        </div>

    </form>

</div>

{% endblock %}