{% extends "base.html" %}
{% set active_page = "my_records_detail" %}

{% block content %}

<div class="container-fluid" style="padding-bottom: 15px; padding-top: 10px;">
    <a class="btn btn-primary mt-2">Add Record</a>
    <a class="btn btn-success mt-2">Delete Record</a>
    <a class="btn btn-outline-secondary mt-2" href="{{ url_for('my_records') }}">Less Detail</a>
</div>

<table class="table table-striped sticky-header">
    <thead>
        <tr>
            <th>ID</th>
            <th>Artist Name</th>
            <th>Album Name</th>
            <th>Genre</th>
            <th>Play Count</th>
            <th>Last Played</th>
            <th>Ignore</th>
            <th>Date Added</th>
            <th>Release Type</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in rows %}
            <tr>
                <td> {{ item[0] }} </td>
                <td> {{ item[1] }} </td>
                <td> {{ item[2] }} </td>
                <td> {{ item[3] }} </td>
                <td> {{ item[4] }} </td>
                <td> {{ item[5] }} </td>
                <td> {{ item[6] }} </td>
                <td> {{ item[7] }} </td>
                <td> {{ item[8] }} </td>
                <td><a href="{{ url_for('edit_record', id=item[0]) }}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}