{% extends "base.html" %}
{% set active_page = "my_records_detail" %}

{% block content %}

<div class="container-fluid" style="padding-bottom: 15px; padding-top: 10px;">
    <div class="sticky-top" position="fixed">
        <a class="btn btn-primary mt-2" href="{{ url_for('add_record') }}">Add Record</a>
        <a class="btn btn-secondary mt-2" href="{{ url_for('bulk_update') }}">Bulk Update</a>
        <a class="btn btn-outline-secondary mt-2" href="{{ url_for('my_records') }}">Less Detail</a>
    </div>
</div>

<table class="table table-striped sticky-header">
    <thead>
        <tr>
            <th style="width:4%">ID</th>
            <th style="width:16%">Artist Name</th>
            <th style="width:26%">Album Name</th>
            <th style="width:10%">Genre</th>
            <th style="width:5%">Play Count</th>
            <th style="width:10%">Last Played</th>
            <th style="width:5%">Ignore</th>
            <th style="width:10%">Date Added</th>
            <th style="width:7%">Release Type</th>
            <th style="width:7%">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in rows %}
            <tr>
                <td> <a id="{{ item[0] }}"> {{ item[0] }} </a></td>
                <td> {{ item[1] }} </td>
                <td> {{ item[2] }} </td>
                <td> {{ item[3] }} </td>
                <td> {{ item[4] }} </td>
                <td> {{ item[5] }} </td>
                <td> {{ item[6] }} </td>
                <td> {{ item[7] }} </td>
                <td> {{ item[8] }} </td>
                <td><a href="{{ url_for('edit_record', id=item[0]) }}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}